//Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^clanbase.ovh[nc]
RewriteRule ^(.*)$ http://www.clanbase.ovh/$1 [r=301,nc]

//Change default directory page
DirectoryIndex index.html